@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

input,
button {
    font-family: inherit;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}

.modal,
.edit-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.edit-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.border-bottom {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    position: relative;
    display: block;
    margin: 5px 0;
}

.field {
    background-color: #fff;
    width: -webkit-fill-available;
    padding: 5px;
    border: unset;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
}

.table {
    border-spacing: 0 15px;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
}

.table tbody tr {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table tbody tr td:nth-child(1) {
    border-radius: 10px;
}

.table tbody tr td:nth-last-child(1) {
    border-radius: 10px;
}

.table tbody tr td a {
    text-decoration: none;
    color: #007bff;
}

.table tbody tr td a:hover {
    color: #0069d9;
}

.table td,
.table th {
    padding: 1.75rem 1rem;
}

.table thead th {
    text-align: left;
}

.menu-container {
    position: relative;
}

.menu-button {
    padding: 2px 4px;
    border-radius: 50px;
    display: flex;
    cursor: pointer;
    background-color: #007bff;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hidden {
    display: none;
}

.circle {
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    margin: 2px;
}

.dropdown-menu {
    position: absolute;
    top: -5px;
    left: -62px;
    transform: translateX(100%);
    width: 100px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

input[type="file"]::file-selector-button,
.adicionar,
.editar,
.novo-protocolo-btn,
.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.edit-btn,
.delete-btn {
    width: 100%;
}

.edit-btn {
    margin-bottom: 5px;
}

input[type="file"]::file-selector-button:hover,
.adicionar:hover,
.editar:hover,
.novo-protocolo-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
    background-color: #0069d9;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #BF2231;
}

input[type="search"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.adicionar,
.editar {
    width: 100%;
}

.close {
    position: absolute;
    color: #aaa;
    line-height: 0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 20px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}