@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.modal,
.edit-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.edit-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-bottom {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    position: relative;
    display: block;
    margin: 5px 0;
}

.field {
    background-color: #fff;
    width: -webkit-fill-available;
    padding: 5px;
    border: unset;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 5px;
}

.table {
    border-spacing: 0 15px;
    border-collapse: separate;
    width: 100%;
    max-width: 100%;
}

.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}

.table tbody tr {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.table tbody tr td {
	background: #fff;
}

.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}

.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}

.table td,
.table th {
    padding: 0.75rem;
}

.table thead th {
    text-align: left;
}

input[type="file"]::file-selector-button,
.adicionar,
.editar {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover,
.adicionar:hover,
.editar:hover {
    background-color: #0069d9;
}

.adicionar,
.editar {
    width: 100%;
    /* margin-top: 10px; */
}

.close {
    position: absolute;
    color: #aaa;
    line-height: 0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    top: 20px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}